.btn {
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 100%;
  border-radius: 0;
  background-color: $black;
  border: 1px solid rgba($white, 0.1);
  color: $white;
  font-family: "Spartan";
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  & .number {
    color: $white;
    margin-right: 24px;
    font-style: 12px;
    font-weight: bold;
    letter-spacing: 2px;
  }

  &:hover {
    background-color: $dark-grey;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}
